<h3>Edit Book Form</h3>
<!-- title: String,
    author: String,
    genre: String,
    isFiction: Boolean,
    numberOfPages: Number -->
<form method="POST" action="/book/edit">
    <div>
        <label>Title</label>
        <input type="text" name="title" value="<%= book.title %>">
    </div>

    <div>
        <label>Author</label>
        <input type="text" name="author" value="<%= book.author %>">
    </div>

    <div>
        <label>Genre</label>
        <input type="text" name="genre" value="<%= book.genre %>">
    </div>

    <div>
        <label>Is Fiction?</label>
        <input type="text" name="isFiction" value="<%= book.isFiction %>">
    </div>

    <div>
        <label>Pages</label>
        <input type="text" name="numberOfPages" value="<%= book.numberOfPages %>">
    </div>
    <input type="hidden" name="id" value="<%=book._id%>">
    <input type="submit">
</form>