<h3>Book Index</h3>

<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Fiction?</th>
        <th>Pages</th>
    </tr>
    <% books.forEach(function(book){ %>
        <tr>
            <td><%= book.title %> </td>
            <td><%= book.author %> </td>
            <td><%= book.genre %> </td>
            <td><%= book.isFiction %> </td>
            <td><%= book.numberOfPages %> </td>
            <td>
                <form method="POST" action="/book/delete?id=<%=book._id%>&_method=DELETE">
                    <button type="submit">DELETE</button>
                </form>
            </td>
        </tr>
    <% }) %>
</table>